<div class="container" id="marcas">
  <h3>Marcas</h3>
  <ngx-slick-carousel class="carousel carousel-marcas" 
      #slickModal="slick-carousel" 
      [config]="slideConfig">
      <div ngxSlickItem *ngFor="let brand of brands; let i = index" class="slide brands">
          <div class="brand-box">
            <img src="{{brand}}" alt="{{names[i]}}">
          </div>
      </div>
  </ngx-slick-carousel>
</div>