<div class="container-fluid" id="header">
  <div class="container">
    <div class="row">
      <div class="col col-header">
        <div style="
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
">
<div class="logo" style="
    background-size: cover;
    width: 56px;
    height: 56px;
    margin-right: 0.5em;
"></div>
<div>
<h1 style="
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
">CIA DO MÉDICO</h1>
<h2 style="
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 0;
">ORTOPÉDICO</h2></div>
</div>
        <!-- <div class="chat-box">
          <div class="chat"></div>
          <span>Fale conosco</span>
        </div> -->
        <div class="infos">
          <div class="info">
            <span>Fale conosco pelo WhatsApp:</span>
            <a target="_blank" href="https://bit.ly/2UwVMEv" class="gtm-element-event" data-category="home" data-action="header" data-label="whatsapp"><i class="green-wpp"></i>(21) 99874-3228</a>
          </div>

          <div class="info">
            <span>Ou ligue para a Central:</span>
            <a href="tel:552131903030" class="gtm-element-event" data-category="home" data-action="header" data-label="central">(21) 3190-3030</a>
          </div>

        </div>
        <div class="hamburguer" (click)="toggleMenu()"></div>
      </div>
    </div>
  </div>
</div>

<div class="fab-wpp">
  <a target="_blank" href="https://bit.ly/2UwVMEv" class="gtm-element-event" data-category="home" data-action="header" data-label="fab-whatsapp">
    <i class="wpp"></i>

    <p>Clique Aqui</p>
  </a>
</div>

<app-navbar [isOpen]="isOpen" (notify)="onNotify($event)"></app-navbar>
