<div class="container-fluid espacador" id="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="title">Fale Conosco</h3>

        <div class="contact-item"><div class="icon wpp"></div> (21) 99874-3228 | Atendimento 24 horas.</div>
        <div class="contact-item"><div class="icon phone"></div> (21) 3190-3030 / (21) 2230-1679 / (21) 2147-7331</div>
        <div class="contact-item"><div class="icon mail"></div> contato@casadomedicoortopedico.com.br</div>
      </div>

      <div class="col col-logo">
        <div class="logo"></div>
      </div>
    </div>
  </div>
</div>