<div class="container-fluid espacador" id="atendimento">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title">Atendimento</h2>
        <p>Temos uma equipe que está sempre pronta para atendê-lo. Você pode <b>ligar</b> para nossa central ou simplesmente nos enviar uma mensagem no <b>WhatsApp</b>. E aí? Vamos conversar?</p>
      </div>
    </div>

    <div class="row alugue-icon-row">
      <div class="col alugue-icon-col">
        <a target="_blank" href="https://bit.ly/2UwVMEv" class="alugue-icon-link gtm-element-event" data-category="home" data-action="atendimento" data-label="whatsapp">
          <div class="alugue-icon">
            <div class="icon wpp"></div>
          </div>
          <p>Clique aqui<br>para WhatsApp</p>
        </a>
      </div>

      <div class="col alugue-icon-col">
        <a href="tel:5521998743228" class="alugue-icon-link gtm-element-event" data-category="home" data-action="atendimento" data-label="telefone">
          <div class="alugue-icon">
              <div class="icon phone"></div>
          </div>
          <p>Clique aqui<br>para nos Ligar</p>
        </a>
      </div>

      <!-- <div class="col alugue-icon-col">
        <a role="button" (click)="openChat()" class="alugue-icon-link gtm-element-event" data-category="home" data-action="atendimento" data-label="chat">
          <div class="alugue-icon">
              <div class="icon live-chat"></div>
          </div>
          <p>Clique aqui<br>para ser atendido</p>
        </a>
      </div> -->
    </div>
  </div>
</div>