<div class="container-fluid espacador" id="comentarios">
    <div class="container">
        <div class="row">
            <div class="col">
                <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let comment of comments" class="slide comentario">
                        <img src="../../assets/img/{{comment.img}}.png" alt="">
                        <p>"{{comment.text}}"</p>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>