<div class="container-fluid espacador" id="produtos">
  <div class="container" style="position: relative">
    
    <app-marcas></app-marcas>

    <div class="row">
      <div class="col">
        <h2 class="title">Confira nossos produtos</h2>
        <h4 class="subtitle">Parcelamos em até 4x com entrega grátis</h4>
      </div>
    </div>

    <div class="row especial">
      <div class="col col-produto" *ngFor="let produto of produtos; let i = index">
        <div class="produto">
          <div class="imagem-box">
              <div class="imagem">
                <img src="../../assets/img/produtos/{{produto.img}}.jpg" alt="Imagem do produto">
              </div>
              <div class="preco">
                  {{produto.preco | currency:'BRL':'symbol-narrow':'1.2-2'}}
                  <span>
                  4x {{produto.preco / 4 | currency:'BRL':'symbol-narrow':'1.2-2'}}</span>
              </div>
          </div>

          <div class="detalhes">
            <h4>{{produto.nome}}</h4>
            <div>
              <p>{{(produto.desc.length>70)? (produto.desc | slice:0:70)+'...':(produto.desc)}}</p>
            </div>
            
          </div>

          <div class="btn-box">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5521998743228&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20{{encodeURIComponent(produto.nome)}}"
            class="gtm-element-event" data-category="home" data-action="comprar" [attr.data-label]="produto.nome">
              Comprar
            </a>
          </div>
        </div>
        
      </div>
    </div>

    <div class="row row-alugueis">
      <div class="col">
        <h2 class="title">Você também pode alugar</h2>
        <h4 class="subtitle">Parcelamos em até 4x com entrega grátis</h4>
      </div>
    </div>

    <div class="row especial">
      <div class="col col-produto" *ngFor="let aluguel of alugueis; let i = index">
        <div class="produto">
          <div class="imagem-box">
              <div class="imagem">
                <img src="../../assets/img/produtos/{{aluguel.img}}.jpg" alt="Imagem do produto">
              </div>
              <div class="preco">
                  {{aluguel.preco | currency:'BRL':'symbol-narrow':'1.2-2'}}
                  <span>
                  4x {{aluguel.preco / 4 | currency:'BRL':'symbol-narrow':'1.2-2'}}</span>
              </div>
          </div>

          <div class="detalhes">
            <h4>{{aluguel.nome}}</h4>
            <div>
              <p>{{(aluguel.desc.length>200)? (aluguel.desc | slice:0:200)+'...':(aluguel.desc)}}</p>
            </div>
            
          </div>

          <div class="btn-box">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5521998743228&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20{{encodeURIComponent(aluguel.nome)}}"
            class="gtm-element-event" data-category="home" data-action="alugar" [attr.data-label]="aluguel.nome">
              Alugar
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>