<div class="container-fluid" id="navbar">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="menu" [ngClass]="{'hide': isOpen}">
          <li (click)="closeMenu()"><a href="#produtos" class="gtm-element-event" data-category="home" data-action="menu" data-label="produtos">Produtos</a></li>
          <li (click)="closeMenu()"><a href="#atendimento" class="gtm-element-event" data-category="home" data-action="menu" data-label="atendimento">Atendimento</a></li>
          <li (click)="closeMenu()"><a href="#empresa" class="gtm-element-event" data-category="home" data-action="menu" data-label="empresa">A Empresa</a></li>
          <li (click)="closeMenu()"><a href="#lojas" class="gtm-element-event" data-category="home" data-action="menu" data-label="lojas">Lojas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>