<div class="container-fluid espacador" id="empresa">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title trabalhamos-title">Aqui trabalhamos assim</h2>
      </div>
    </div>

    <div class="row row-passos">
      <div class="col-12 col-sm-3">
        <div class="passo-inner">
            <p class="passo-title">Passo 1:</p>
            <p class="strech">Faça seu pedido</p>
    
            <img src="../../assets/img/passo1.jpg" alt="Senhora fazendo seu pedido.">
        </div>
      </div>

      <div class="col-12  col-sm-3">
        <div class="passo-inner">
            <p class="passo-title">Passo 2:</p>
            <p class="strech">Receba na sua casa</p>
    
            <img src="../../assets/img/passo2.jpg" alt="Rapaz fazendo a entrega.">
        </div>
      </div>

      <div class="col-12  col-sm-3">
        <div class="passo-inner">
            <p class="passo-title">Passo 3:</p>
            <p class="strech">Seja feliz :)</p>
            
            <img src="../../assets/img/passo3.jpg" alt="Senhora feliz tomando café.">
        </div>
      </div>
    </div>
  </div>
</div>