<div class="container-fluid" id="banner">
    <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide banner">
            <div class="banner-img" [ngStyle]="setBanner(slide)"></div>
            <div class="container overlay">
                <h4><b>{{slide.wordb}}</b> {{slide.word}}</h4>
                <h2>{{slide.big}}</h2>
                <p>{{slide.sub}}</p>

                <h4 class="preco">R$ <b>{{slide.preco}}</b> {{slide.aluguel ? '/ ' + slide.diasAluguel + ' dias' : ''}}</h4>
                <span>Entrega grátis</span>
            </div>
        </div>
    </ngx-slick-carousel>
</div>


