<div class="container-fluid espacador" id="lojas">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="title">
          Lojas
        </h2>
        <div class="lojas-box">
            <span>Avenida das Américas, 7777</span>
            <span>Av. Olegário Maciel, 531</span>
            <span>Av. Prefeito dulcidio cardoso, 1700</span>
            <span>Av. Jaime Poggi, 146</span>
            <span>Av. Lucio Costa, 3672</span>
            <span>Estrada de Jacarepaguá, 6230</span>
        </div>
         
      </div>
      <div class="col-sm-8"> 
        <iframe
          width="100%"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt4BKbLFJESg120uwTS4uzbLYFZMLBZoE
            &q=place_id:ChIJ1-BqQaLbmwARN2ewHZth0rM" allowfullscreen>
        </iframe>
          <!-- <iframe src="https://www.google.com/maps/embed?pb=" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
      </div>
    </div>
  </div>
</div>

<!-- AIzaSyCt4BKbLFJESg120uwTS4uzbLYFZMLBZoE -->