<div class="container-fluid" id="entrega">
    <div class="container">
        <div class="entrega-box">
            <h3>Entregamos em sua casa<br>em até <b>1 hora</b><div class="icon time"></div></h3>
        </div>
    </div>
</div>