html, body
    font-family: $font !important
    overflow-x: hidden
    scroll-behavior: smooth

img
    max-width: 100%

h1, h2, h3, h4, h5
    &.title
        font-weight: bold
        font-style: italic

    &.subtitle
        color: $default
        font-weight: bold
        font-style: italic