.slick-dots
    li
        width: 15px !important
        height: 15px !important
        button
            width: 15px !important
            height: 15px !important

            &:before
                content: "" !important
                background: black !important
                border-radius: 50% !important
                width: 15px !important
                height: 15px !important
        
.slick-initialized .slick-slide
    display: flex !important
    align-items: center !important
    justify-content: center !important
    
.strech
    flex: 1

.espacador
    padding: 3em 0