@media (max-width: 1024px)
    #produtos
        .col-produto
            flex-basis: 50%

    #banner
        .banner
            .banner-img
                background-position-x: 80%
    .row.especial
        width: 80%
        
@media (max-width: 576px)
    .row.especial
        width: 100%
        margin: 0 auto
    #marcas
        display: none
        
    .fab-wpp
        bottom: 10px
        top: unset
    #lojas
        .lojas-box
            margin-bottom: 1em
    #header
        .col-header
            .logo
                height: 36px
                width: 195px

            .hamburguer
                display: block

            .infos
                display: none

    .fab-wpp
        display: block
    #navbar
        .menu
            flex-direction: column
            height: calc(100vh - 90px)
            justify-content: center
            &.hide
                height: 0px

    #banner
        .slick-initialized
            .slick-slide
                background: lighten($default, 20) !important
                display: flex !important
        .banner
            .banner-img
                height: 250px
                opacity: 0.3
                background-position-x: 80%
        .overlay
            h2
                font-size: 2.3em
                line-height: 1
            h4
                font-size: 1.2em
            p
                font-size: 0.9em
    #atendimento
        .alugue-icon-row
            padding-bottom: 0em
            .alugue-icon-col
                margin-bottom: 2em
                .alugue-icon-link
                    flex-direction: column
                    .alugue-icon
                        margin: 0
                        margin-bottom: 1em
                    p
                        text-align: center
    #produtos
        .col-produto
            flex-basis: 51%
            .produto
                .imagem-box
                    display: flex
                    .preco
                        position: unset
                        border-top-left-radius: 0px
                    .imagem
                        flex: 1
                &:hover
                    .preco
                        padding-bottom: 10px

    #comentarios
        .comentario
            flex-direction: column
            p
                width: 100%
                margin: 1.2em 0
                text-align: center
