.alugue-icon-row
    padding: 2em
    .alugue-icon-col
        display: flex
        align-items: center
        justify-content: center
        .alugue-icon-link
            display: flex
            align-items: center
            text-decoration: none
            color: $black
            cursor: pointer
            &:hover
                .alugue-icon
                    border: 4px solid $default
            .alugue-icon
                transition: 0.2s ease
                margin-right: 1em
                padding: 20px
                border-radius: 50%
                border: 4px solid black
                .icon
                    width: 40px
                    height: 40px
                    background-size: contain
                .wpp
                    background-image: $wpp
                .phone
                    background-image: $phone
                .live-chat
                    background-image: $live-chat
            

            p
                font-weight: bold
                margin: 0
                line-height: 1.1
                font-size: 0.9em