#banner
    padding: 0px

    .banner
        .banner-img
            height: 400px
            width: 100%
            background-size: cover

    .overlay
        position: absolute
        font-style: italic
        text-transform: uppercase
        h2, h4, p
            margin: 0
        h2
            font-size: 4.5em
            font-weight: 900
            line-height: 1.2
        h4
            font-size: 2em
            b
                font-weight: 900

        h4.preco
            text-transform: initial
            b
                font-weight: bold
                font-size: 2em
        p
            text-transform: initial
            font-size: 1.2em

        .preco
            margin-top: 2em