#comentarios
    padding: 100px 0px
    .comentario
        display: flex
        align-items: center
        justify-content: center
        outline: none
        margin-bottom: 1em
        p
            font-style: italic
            width: 50%
            font-size: 1.2em
            margin: 0 0 0 1em