#entrega
    background: url('assets/img/entrega.jpg') center center no-repeat
    background-size: cover
    height: 200px
    .container
        height: 100%

        .entrega-box
            display: flex
            height: 100%
            align-items: center
            justify-content: flex-end
            h3
                font-weight: bold
                color: white
                text-align: right
                b
                    color: $default
                .icon
                    &.time
                        background: $clock
                        height: 20px