#footer
    background-color: $gray
    color: white

    .col-logo
        display: flex;
        align-items: center;
        justify-content: flex-end;
    .logo
        background: $logo no-repeat
        height: 56px
        width: 300px

    .title
        margin-bottom: 1em

    .contact-item
        display: flex
        align-items: center
        margin-bottom: 0.5em
        &:last-child
            margin-bottom: 0
        .wpp
            mask: $wpp
        .phone
            mask: $phone
        .mail
            mask: $mail
        .icon
            width: 25px
            height: 25px
            background-size: contain
            margin-right: 0.5em
            mask-size: cover
            background-color: $default