#header
    padding: 15px 0px
    background: $default
    .col-header
        display: flex
        justify-content: space-between
        align-items: center
        .logo
            background: $logo no-repeat
            height: 56px
            width: 300px

        .hamburguer
            background: $menu no-repeat
            height: 30px
            width: 30px
            background-size: contain
            display: none

        .infos
            display: flex
            text-align: center
            align-items: center

            .info
                border-right: 1px solid white
                padding: 5px 15px

                &:last-child
                    border: 0
            a
                color: white
                text-decoration: none
                font-weight: bold
                font-size: 1.3em
                display: flex
                align-items: center
                justify-content: center

            span
                color: white
                font-size: 0.9em

            .green-wpp
                background: $green-wpp
                width: 30px
                height: 30px
                display: block
                margin-right: 10px

        .chat-box
            display: flex
            align-items: center
            justify-content: center
            background: white
            padding: 0 20px
            border-radius: 5px
            cursor: pointer
            .chat
                background: $chat no-repeat
                height: 60px
                width: 60px
                margin-top: 10px
            span
                color: $default
                text-transform: uppercase
                font-size: 1.2em


.fab-wpp
    position: fixed
    top: calc(50% - 45px)
    right: 15px
    z-index: 1000
    background: $green
    border-radius: 5px
    a
        display: flex
        align-items: center
        justify-content: center
        text-decoration: none
        color: white
        flex-direction: column
        padding: 20px 40px
        .wpp
            background: $white-wpp
            background-size: contain
            width: 70px
            height: 69px
            display: block
        p
          margin: 0
          font-weight: bold
          margin-top: 20px
