#marcas
    width: 200px
    position: absolute
    right: 0px
    top: 170px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    .slick-prev:before, .slick-next:before
        color: black
        font-size: 30px

    .slick-prev, .slick-next
        position: relative
        margin: 0 auto
        z-index: 2
    .slick-prev
        left: 0
        top: -20px
        transform: rotate(90deg)
    .slick-next
        right: 0
        bottom: -20px
        transform: rotate(90deg)

    .brand-box
        margin: 10px 0px

    .slick-slide img
        height: 45px

    .carousel-marcas
        margin: 30px 0px
        
    h3
        margin-bottom: 1em