#navbar
    box-shadow: 0px 5px 10px -10px #c3c3c3
    .logo
        background: $logo

    .menu
        display: flex
        align-items: center
        justify-content: flex-end
        list-style: none
        margin: 0
        padding: 0
        overflow: hidden
        transition: 0.3s ease
        li
            font-size: 1.3em
            text-transform: uppercase 
            cursor: pointer
            &:hover
                background: darken(white, 2)

            a
                text-decoration: none
                color: inherit
                padding: 10px 20px
                display: flex