#produtos
    .subtitle
        margin-bottom: 2em

    .row-alugueis
        margin-top: 2em

    .row.especial
        width: 85%

    .col-produto
        flex-basis: 21%
        margin-bottom: 2em
        display: flex
        .produto
            border-radius: 10px
            box-shadow: 0px 0px 5px 0px #c3c3c3
            transition: 0.2s ease
            display: flex
            flex-direction: column
            .imagem-box
                position: relative
                .imagem
                    align-items: center
                    display: flex
                    img
                        width: 100%
                        border-top-left-radius: 10px
                        border-top-right-radius: 10px
                .preco
                    position: absolute
                    transition: 0.2s ease
                    right: 0
                    bottom: 0
                    padding: 10px
                    background: gray
                    color: white
                    font-weight: bold
                    font-size: 1.5em
                    border-top-left-radius: 10px
                    border-top-right-radius: 10px
                    display: flex
                    justify-content: center
                    align-items: flex-end
                    flex-direction: column

                    span
                        font-size: 0.5em
            &:hover
                box-shadow: 0px 2px 10px 0px #c3c3c3
                .preco
                    padding-bottom: 30px
            .detalhes
                background: $default
                padding: 20px
                color: white
                display: flex
                flex-direction: column
                flex: 1
                h4
                    font-size: 1.3em
                    font-weight: bold
                p
                    margin: 0
                    font-size: 0.7em
            .btn-box
                text-transform: uppercase
                text-align: center
                font-weight: bold
                color: white
                background: darken($default, 10)
                border-bottom-left-radius: 10px
                border-bottom-right-radius: 10px
                cursor: pointer
                transition: 0.2s ease
                display: flex

                &:hover
                    background: darken($default, 20)
                    
                a
                    font-size: 1.3em
                    text-decoration: none
                    color: white
                    flex: 1
                    padding: 5px 0px