#empresa
    background-color: $default
    color: white

    .trabalhamos-title
        margin-bottom: 2em
        text-align: center

    .row-passos
        justify-content: center
        .passo-inner
            display: flex
            flex-direction: column
            align-items: flex-start
            width: fit-content
            margin: 0 auto
            height: 100%
            .passo-title
                font-weight: bold
                font-size: 1.2em
                margin: 0