<app-header></app-header>

<app-banner></app-banner>

<app-produtos></app-produtos>

<app-alugue></app-alugue>

<app-trabalhamos></app-trabalhamos>

<app-comentarios></app-comentarios>

<app-entrega></app-entrega>

<app-lojas></app-lojas>

<app-footer></app-footer>